## .NET
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.pdb

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Node / Frontend
node_modules/
dist/
.env
.env.local

## IDE
.idea/
*.swp
.DS_Store
Thumbs.db

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!packages/build/
*.nuget.props
*.nuget.targets
